= form_for ([user, post]) do |f|

  .field
    = f.hidden_field :name, value: user.name

  .field
    = f.label :title
    = f.text_field :title

  .field
    = f.label :tfield
    = f.text_field :tfield

  .actions
    = f.submit 'Save'
