%h1 Listing posts

%table
  %thead
    %tr
      %th title
      %th name
      %th tfield

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td= post.name
        %td= post.tfield
        %td= link_to 'Show', user_post_path(@user, post)
        %td= link_to 'Edit', edit_user_post_path(@user, post)
        %td= link_to 'Destroy', user_post_path(@user, post), method: :delete, data: { :confirm => 'Are you sure?' }

%br

= link_to 'New Post', new_user_post_path
