%p#notice= notice

%p
  %strong title:
  = @post.title

%p
  %strong name:
  = @post.name

%p
  %strong tfield:
  = simple_format(@post.tfield)

%p
  [ Comments ]
  - @post.comment.each do |c|
    %li
      %p
      = c.body
      = c.created_at.to_s.split(' ')[0..1]

= render 'comment/form'

= link_to 'Edit', edit_user_post_path(@user, @post)
|
= link_to 'Back', user_posts_path
