!!!
%html
  %head
    %title ミニブログ Petit(プチ)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true
    = csrf_meta_tags

  %body{ class: @body }
    #container
      - flash.each do |flash_message, flash|
        %div{ class: flash_message }= flash

      %header#header
        - if logged_in?
          %ul
            %li= link_to "マイページ", current_user
            %li= link_to "ログアウト", signout_path
            %li#welcome_msg
              = "こんにちわ #{@user.name} さん !"

      #main
        = yield

    %footer{ class: @footer }
      %section.wrapper
        フッター
