!!!
%html
  %head
    %title Petit
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = csrf_meta_tags

  %body
    #container
      - flash.each do |flash_message, flash|
        %div{class: flash_message}= flash

      %header#header
        %ul
          -#%li#petit petit
          - if logged_in?
            %li= link_to "マイページ", current_user
            %li= link_to "ログアウト", signout_path

      #main
        = yield

    %footer#footer
      %section.wrapper
        フッター
