!!!
%html
  %head
    %title ミニブログ Petit(プチ)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true
    = csrf_meta_tags

  %body{ class: @body_bg }
    #container
      - flash.each do |flash_message, flash|
        %div{class: flash_message}= flash

      %header#header
        %ul
          - if logged_in?
            %li= link_to "マイページ", current_user
            %li= link_to "ログアウト", signout_path

      #main
        = yield

    %footer#footer
      %section.wrapper
        フッター
